<!-- Content Header (Page header) -->
<section class="content-header">
   <h1>
      My Timesheet
      <small>19/03/2017-25/03/2017</small>
   </h1>
</section>
<!-- Main content -->
<section class="content">
   <div class="row">
      <div class="col-md-12">
         <!-- Custom Tabs -->
         <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#tab_Mon" data-toggle="tab" (click) ="getDayDataByDayId(1)">Mon</a></li>
               <li><a href="#tab_Tue" data-toggle="tab" (click) ="getDayDataByDayId(2)">Tue</a></li>
               <li><a href="#tab_Wed" data-toggle="tab" (click) ="getDayDataByDayId(3)">Wed</a></li>
               <li><a href="#tab_Thu" data-toggle="tab" (click) ="getDayDataByDayId(4)">Thu</a></li>
               <li><a href="#tab_Fri" data-toggle="tab" (click) ="getDayDataByDayId(5)">Fri</a></li>
               <li><a href="#tab_Sat" data-toggle="tab" (click) ="getDayDataByDayId(6)">Sat</a></li>
               <li><a href="#tab_Sun" data-toggle="tab" (click) ="getDayDataByDayId(7)">Sat</a></li>
               <li class="pull-right"><a routerLink="/newtimeentry" class="btn btn-info"><i class="fa fa-plus-square"></i> ADD</a></li>
            </ul>
            <div class="tab-content">
               <div class="tab-pane active" id="tab_Mon">
                  <div class="box-body">
                     <table id="example2" class="table table-bordered table-hover">
                        <thead>
                           <tr>
                              <th class="text-center" >Matter</th>
                              <th class="text-center" >Client</th>
                              <th class="text-center" >T</th>
                              <th class="text-center" >B</th>
                              <th class="text-center" >NB</th>
                              <th class="text-center" ></th>
                           </tr>
                        </thead>
                        <tbody >
                           <tr *ngFor='let myTimeSheet of myTimeSheetData' >
                              <td class="text-center">{{ myTimeSheet.matter }}</td>
                              <td class="text-center">{{ myTimeSheet.client }}</td>
                              <td class="text-center">{{ myTimeSheet.t }}</td>
                              <td class="text-center">{{ myTimeSheet.b }}</td>
                              <td class="text-center">{{ myTimeSheet.nb }}</td>
                              <td class="text-center"><a href="javascript:void(0)" (click)= "editMatterById(myTimeSheet.matterId)">Edit</a></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="tab-pane" id="tab_Tue">
                  <div class="box-body">
                     <table id="example2" class="table table-bordered table-hover">
                        <thead>
                           <tr>
                              <th class="text-center" >Matter</th>
                              <th class="text-center" >Client</th>
                              <th class="text-center" >T</th>
                              <th class="text-center" >B</th>
                              <th class="text-center" >NB</th>
                              <td class="text-center"></td>
                           </tr>
                        </thead>
                        <tbody >
                           <tr *ngFor='let myTimeSheet of myTimeSheetData' >
                              <td class="text-center">{{ myTimeSheet.matter }}</td>
                              <td class="text-center">{{ myTimeSheet.client }}</td>
                              <td class="text-center">{{ myTimeSheet.t }}</td>
                              <td class="text-center">{{ myTimeSheet.b }}</td>
                              <td class="text-center">{{ myTimeSheet.nb }}</td>
                              <td class="text-center"><a href="javascript:void(0)" (click)= "editMatterById(myTimeSheet.matterId)">Edit</a></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="tab-pane" id="tab_Wed">
                  <div class="box-body">
                     <table id="example2" class="table table-bordered table-hover">
                        <thead>
                           <tr>
                              <th class="text-center" >Matter</th>
                              <th class="text-center" >Client</th>
                              <th class="text-center" >T</th>
                              <th class="text-center" >B</th>
                              <th class="text-center" >NB</th>
                              <th class="text-center" ></th>
                           </tr>
                        </thead>
                        <tbody >
                           <tr *ngFor='let myTimeSheet of myTimeSheetData' >
                              <td class="text-center">{{ myTimeSheet.matter }}</td>
                              <td class="text-center">{{ myTimeSheet.client }}</td>
                              <td class="text-center">{{ myTimeSheet.t }}</td>
                              <td class="text-center">{{ myTimeSheet.b }}</td>
                              <td class="text-center">{{ myTimeSheet.nb }}</td>
                              <td class="text-center"><a href="javascript:void(0)" (click)= "editMatterById(myTimeSheet.matterId)">Edit</a></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="tab-pane" id="tab_Thu">
                  <div class="box-body">
                     <table id="example2" class="table table-bordered table-hover">
                        <thead>
                           <tr>
                              <th class="text-center" >Matter</th>
                              <th class="text-center" >Client</th>
                              <th class="text-center" >T</th>
                              <th class="text-center" >B</th>
                              <th class="text-center" >NB</th>
                              <th class="text-center" ></th>
                           </tr>
                        </thead>
                        <tbody >
                           <tr *ngFor='let myTimeSheet of myTimeSheetData' >
                              <td class="text-center">{{ myTimeSheet.matter }}</td>
                              <td class="text-center">{{ myTimeSheet.client }}</td>
                              <td class="text-center">{{ myTimeSheet.t }}</td>
                              <td class="text-center">{{ myTimeSheet.b }}</td>
                              <td class="text-center">{{ myTimeSheet.nb }}</td>
                              <td class="text-center"><a href="javascript:void(0)" (click)= "editMatterById(myTimeSheet.matterId)">Edit</a></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="tab-pane" id="tab_Fri">
                  <div class="box-body">
                     <table id="example2" class="table table-bordered table-hover">
                        <thead>
                           <tr>
                              <th class="text-center" >Matter</th>
                              <th class="text-center" >Client</th>
                              <th class="text-center" >T</th>
                              <th class="text-center" >B</th>
                              <th class="text-center" >NB</th>
                              <th class="text-center" ></th>
                           </tr>
                        </thead>
                        <tbody >
                           <tr *ngFor='let myTimeSheet of myTimeSheetData' >
                              <td class="text-center">{{ myTimeSheet.matter }}</td>
                              <td class="text-center">{{ myTimeSheet.client }}</td>
                              <td class="text-center">{{ myTimeSheet.t }}</td>
                              <td class="text-center">{{ myTimeSheet.b }}</td>
                              <td class="text-center">{{ myTimeSheet.nb }}</td>
                              <td class="text-center"><a href="javascript:void(0)" (click)= "editMatterById(myTimeSheet.matterId)">Edit</a></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="tab-pane" id="tab_Sat">
                  <div class="box-body">
                     <table id="example2" class="table table-bordered table-hover">
                        <thead>
                           <tr>
                              <th class="text-center" >Matter</th>
                              <th class="text-center" >Client</th>
                              <th class="text-center" >T</th>
                              <th class="text-center" >B</th>
                              <th class="text-center" >NB</th>
                              <th class="text-center" ></th>
                           </tr>
                        </thead>
                        <tbody >
                           <tr *ngFor='let myTimeSheet of myTimeSheetData' >
                              <td class="text-center">{{ myTimeSheet.matter }}</td>
                              <td class="text-center">{{ myTimeSheet.client }}</td>
                              <td class="text-center">{{ myTimeSheet.t }}</td>
                              <td class="text-center">{{ myTimeSheet.b }}</td>
                              <td class="text-center">{{ myTimeSheet.nb }}</td>
                              <td class="text-center"><a href="javascript:void(0)" (click)= "editMatterById(myTimeSheet.matterId)">Edit</a></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="tab-pane" id="tab_Sun">
                  <div class="box-body">
                     <table id="example2" class="table table-bordered table-hover">
                        <thead>
                           <tr>
                              <th class="text-center" >Matter</th>
                              <th class="text-center" >Client</th>
                              <th class="text-center" >T</th>
                              <th class="text-center" >B</th>
                              <th class="text-center" >NB</th>
                              <th class="text-center" ></th>
                           </tr>
                        </thead>
                        <tbody >
                           <tr *ngFor='let myTimeSheet of myTimeSheetData' >
                              <td class="text-center">{{ myTimeSheet.matter }}</td>
                              <td class="text-center">{{ myTimeSheet.client }}</td>
                              <td class="text-center">{{ myTimeSheet.t }}</td>
                              <td class="text-center">{{ myTimeSheet.b }}</td>
                              <td class="text-center">{{ myTimeSheet.nb }}</td>
                              <td class="text-center"><a href="javascript:void(0)" (click)= "editMatterById(myTimeSheet.matterId)">Edit</a></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
         </div>
         <!-- nav-tabs-custom -->
      </div>
      <!-- /.col -->
   </div>
</section>
<!-- /.content -->