
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        My Timesheet
        <small>19/03/2017-25/03/2017</small>
      </h1>
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_Mon" data-toggle="tab">Mon</a></li>
              <li><a href="#tab_Tue" data-toggle="tab">Tue</a></li>
              <li><a href="#tab_Wed" data-toggle="tab">Wed</a></li>
              <li><a href="#tab_Thu" data-toggle="tab">Thu</a></li>
              <li><a href="#tab_Fri" data-toggle="tab">Fri</a></li>
              <li><a href="#tab_Sat" data-toggle="tab">Sat</a></li>
              <li><a href="#tab_Sun" data-toggle="tab">Sat</a></li>
              <li class="pull-right"><a href="/timesheet/timeentry" class="btn btn-info"><i class="fa fa-plus-square"></i> ADD</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_Mon">                                          
                    <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Matter</th>
                  <th>Client</th>
                  <th>T</th>
                  <th>B</th>
                  <th>NB</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Due Diligence</td>
                  <td>Microsoft</td>
                  <td>3</td>
                  <td>2</td>
                  <td>2</td>
                  <td><i class="fa fa-edit"></i> </td>
                </tr>
                <tr>
                  <td>Hearing</td>
                  <td>Dell</td>
                  <td>3</td>
                  <td>2</td>
                  <td>2</td>
                  <td><i class="fa fa-edit"></i> </td>
                </tr>
                <tr>
                  <td>Employment Agg.</td>
                  <td>Exon Mobil</td>
                  <td>3</td>
                  <td>2</td>
                  <td>2</td>
                  <td><i class="fa fa-edit"></i> </td>
                </tr>
                </tbody>                
              </table>
            </div>                      
              </div>
              <div class="tab-pane" id="tab_Tue">Tuesday</div>
                <div class="tab-pane" id="tab_Wed">Wednesday</div>
                <div class="tab-pane" id="tab_Thu">Thursday</div>
                <div class="tab-pane" id="tab_Fri">Friday</div>
                <div class="tab-pane" id="tab_Sat">Saturday</div>
                <div class="tab-pane" id="tab_Sun">Sunday</div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
    </section>
    <!-- /.content -->