
<section class="content-header">
   <h1>
      {{mainHeadingText}}
      <small>{{smallHeadingText}}</small>
   </h1>
   <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> {{breadcrumbParentText}}</a></li>
      <li class="active">{{breadcrumbActiveText}}</li>
   </ol>
</section>

<section class="content" >
  
   <div class="col-md-12">
      <div class="box box-primary">
        
         <div class="box-body" role="form"  [formGroup]="form">
        
  <div class="bootstrap-timepicker">
                <div class="form-group">
                  <label>Time picker(This is dummy Section please remove it):</label>

                  <div class="input-group">
                    <input type="text" class="form-control timepicker">
                    <div class="input-group-addon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                  </div>
                  <!-- /.input group -->
                </div>
  </div>




            <!-- Date -->
            <div class="form-group">
               <div class="input-group date">
                  <div class="input-group-addon">
                     <i class="fa fa-briefcase"></i>
                  </div>
                  <input type="hidden"  [(ngModel)]="timeEntryModel.timeEntryId" formControlName="timeEntryId"  >
                  <input id="textMatter" type="text"  autocomplete="off" class="form-control validate pull-right"  [(ngModel)]="timeEntryModel.textMatter" formControlName="textMatter"  >
               </div>
               <!-- /.input group -->
            </div>
            <!-- /.form group -->
            <div class="form-group">
               <div class="input-group date">
                  <div class="input-group-addon">
                     <i class="fa fa-calendar"></i>
                  </div>
                  <input id="date" type="text" data-provide="datepicker"  autocomplete="off" class="form-control validate pull-right"  [(ngModel)]="timeEntryModel.date" formControlName="date"  >
               </div>
               <!-- /.input group -->
            </div>
            <!-- /.form group -->
            <div class="checkbox">
               <label>
               <input id="isBillable" type="checkbox"   [(ngModel)]="timeEntryModel.isBillable" formControlName="isBillable"  >Billable
               </label>
            </div>
            <div class="form-group  bootstrap-timepicker">
               <label>Time (Total):</label>
               <div class="input-group date">
                  <div class="input-group-addon">
                     <i class="fa fa-clock-o"></i>
                  </div>
                 <input id="totalTime" type="text"   autocomplete="off" class="form-control timepicker"  [(ngModel)]="timeEntryModel.totalTime" formControlName="totalTime"  > 
               </div>
               <!-- /.input group -->
            </div>  
            
              
            <div class="form-group bootstrap-timepicker">
               <label>Time (Billable):</label>
               <div class="input-group date">
                  <div class="input-group-addon">
                     <i class="fa fa-clock-o"></i>
                  </div>
                  <input id="billableTime" type="text"  autocomplete="off" class="form-control  timepicker"  [(ngModel)]="timeEntryModel.billableTime" formControlName="billableTime"  >
               </div>
               <!-- /.input group -->
            </div>
            <!-- /.form group -->
            <div class="form-group">
               <label>Work Done</label>
               <textarea id="billableTime" class="form-control" placeholder="Enter Workdone" rows="3" [(ngModel)]="timeEntryModel.workDone" formControlName="workDone"></textarea>
            </div>
           
         </div>
         <!-- /.box-body -->
         <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right"  (click)="saveTimeEntry(timeEntryModel.timeEntryId)">Save Timesheet</button>
            <button  class="btn btn-danger"  (click)="deleteTimeEntry(timeEntryModel.timeEntryId)">Delete</button>
            <button  class="btn btn-success"  (click)="updateTimeEntry(timeEntryModel.timeEntryId)">Post</button>
            <button  class="btn btn-success"  (click)="loadTimeEntry()">Load All Time Entry</button>
            <button  class="btn btn-warning"  (click)="loadTimeEntryById(timeEntryModel.timeEntryId)">Load Time Entry y Id</button>
             
         </div> 
          
      </div>
      <!-- /.box -->       
   </div>
 
</section >
